article{
	width: 340px;
	height: 450px;
}
a{
	text-decoration: none;
	font-size: 28px;
	color: black;
	font-weight: bold;
}
a:hover{
	color: red;
}
p{
	text-align: justify;
	font-weight: bold;
}
i{
	font-weight: bold;
}